#preview-logo {
	padding: 20px 0;
}

#preview-main {
	.tab-content {
		border-top-width: 6px;
		border-top-style: solid;
		padding: .2em 30px 1.5em 30px;

		h2 {
			margin: 1.4em 0 20px;
			font-size: 16px;
		}
	.border-bottom-radius(5px);
	}
}

.thumbnails-row {
	margin-bottom: 40px;
}

.thumbnail {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	.caption {
		text-align: center;
		> a {
			text-decoration: underline;
		}
	}
	&:hover {
		img {
			.box-shadow(rgba(0,0,0,.2) 0 0 5px);
		}
	}
}