<div ng-controller="MenuCtrl" class="menu-contents">

  <label for="client-name">Société</label>
  <input type="text" id="client-name" ng-model="client.name"></input>
  
  <label>Domain d'exercice</label>
  <select class="form-control" ng-model="services.all" ng-options="business.categories as business.name for business in businesses"></select>

  <label for="client-name">Calendriers</label>

  <div class="calendars">
    <div ng-repeat="calendar in calendars.all">
      <input type="text" ng-model="calendar.name"></input>
      <a ng-click="removeCalendar(calendar)" class="remove">×</a>
      <div class="clear"></div>
    </div>

    <input type="text" ng-model="newCalendar"></input>
    <a ng-click="addCalendar()" class="add">+</a>
    <div class="clear"></div>
  </div>


  <label>
  	Couleurs
  	<span class="btn btn-xs pull-right" ng-click="themeIsCustom = !themeIsCustom" ng-class="{'btn-success': themeIsCustom, 'btn-default': !themeIsCustom}" style="text-transform:initial">Perso</span>
  </label>
  <div ng-show="!themeIsCustom">
  	<div ng-repeat="theme in themes" class="theme-radio" ng-click="selectTheme(theme)">
  	  <input type="radio" ng-value="theme.name" ng-model="currentTheme"></input>
  	  <div class="theme">
  	    <span class="bar" ng-style="{backgroundColor: theme.values.tabsBg}"></span>
  	    <span class="bar" ng-style="{backgroundColor: theme.values.bodyBg}"></span>
  	    <span class="bar" ng-style="{backgroundColor: theme.values.moduleBg}"></span>
  	  </div>
  	</div>
  </div>
  <div ng-show="themeIsCustom">
  	<input type="text" colorpicker colorpicker-fixed-position="true" ng-model="colors.bodyBg" placeholder="Couleur de fond">
  	<input type="text" colorpicker colorpicker-fixed-position="true" ng-model="colors.bodyText">
  	<input type="text" colorpicker colorpicker-fixed-position="true" ng-model="colors.tabsBg">
  	<input type="text" colorpicker colorpicker-fixed-position="true" ng-model="colors.tabsText">
  	<input type="text" colorpicker colorpicker-fixed-position="true" ng-model="colors.moduleBg">
  	<input type="text" colorpicker colorpicker-fixed-position="true" ng-model="colors.moduleLink">
  	<input type="text" colorpicker colorpicker-fixed-position="true" ng-model="colors.moduleText">
  </div>

</div>
