<div ng-controller="MenuCtrl" class="menu-contents">

  <label for="client-name">Société</label>
  <input type="text" id="client-name" ng-model="client.name"></input>
  
  <label for="client-name">Calendriers</label>

  <div class="calendars">
    <div ng-repeat="calendar in calendars.all">
      <input type="text" ng-value="calendar"></input>
      <a ng-click="removeCalendar(calendar)" class="remove">×</a>
      <div class="clear"></div>
    </div>

    <input type="text" ng-model="newCalendar"></input>
    <a ng-click="addCalendar()" class="add">+</a>
    <div class="clear"></div>
  </div>


  <label>Couleurs</label>
  <div ng-repeat="theme in themes" class="theme-radio" ng-click="selectTheme(theme)">
    <input type="radio" ng-value="theme.name" ng-model="currentTheme"></input>
    <div class="theme">
      <span class="bar" ng-style="{backgroundColor: theme.values.tabsBg}"></span>
      <span class="bar" ng-style="{backgroundColor: theme.values.bodyBg}"></span>
      <span class="bar" ng-style="{backgroundColor: theme.values.moduleBg}"></span>
    </div>
  </div>


  <label>Prestations</label>
  <div ng-repeat="business in businesses" class="theme-radio" ng-click="selectBusiness(business)">
    <input type="radio" ng-value="business.name" ng-model="currentBusiness"></input>
    {{business.name}}
  </div>
</div>
