<div id="preview-logo">
</div>
<div id="preview-main">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<ul class="nav nav-tabs" tab-nav>
					<li class="active ">
						<a href="#services-list" ng-style="{backgroundColor: (activeTab === 0 ? colors.tabsBg : colors.moduleBg), color: (activeTab === 0 ? colors.tabsText : colors.moduleLink)}">RDV proposés</a>
					</li>
					<li>
						<a href="#services-rdv" ng-style="{backgroundColor: (activeTab === 1 ? colors.tabsBg : colors.moduleBg), color: (activeTab === 1 ? colors.tabsText : colors.moduleLink)}">Prendre RDV</a>
					</li>
					<li>
						<a href="#login" ng-style="{backgroundColor: (activeTab === 2 ? colors.tabsBg : colors.moduleBg), color: (activeTab === 2 ? colors.tabsText : colors.moduleLink)}">Connexion</a>
					</li>
				</ul>

				<div class="tab-content" ng-style="{backgroundColor: colors.moduleBg, borderTopColor: colors.tabsBg, color: colors.moduleText}">
					<div class="tab-pane active" id="services-list">
						<h2>Prendre rendez-vous chez {{client.name}} pour</h2>

						<div class="row thumbnails-row" ng-if="!services.activeCategory()">
							<div ng-repeat="category in services.all" class="col-md-3" ng-click="services.setActiveCategory(category.name)">
								<div class="thumbnail">
									<a>
										<img src="https://clicrdv-production-groups.s3-eu-west-1.amazonaws.com/generic/thumbnails/80x80/beauty/2_EPILATION-pidjr6eq.png" class="img-	responsive img-rounded">
									</a>
										<div class="caption">
											<a ng-style="{color: colors.moduleLink}">
												<b>{{category.name}}</b>
											</a>
										</div>
									</a>
								</div>
							</div>
						</div>

						<div ng-if="services.activeCategory()">
							<a ng-click="services.setActiveCategory()" ng-hide="services.isFlat()">Retour aux categories</a>
							<ul class="services-list">
								<li ng-repeat="service in services.activeCategory().services" class="service">
									<b>{{service.name}}</b> {{service.price}}
								</li>
							</ul>
						</div>

						<p>{{client.name}} et votre conseillère esthéticienne sont entièrement dévoués à votre bien-être et votre beauté.</p>
						<p>
							Les différentes techniques utilisées pour les soins du corps uniquement font appel à des manœuvres que votre état de santé peut contre-indiquer. Dans ces situations la pratique du soin nécessite que vous remettiez à votre esthéticienne un certificat médical. C'est le cas pour les affections suivantes : Troubles circulatoires majeurs (phlébites, varices, ulcères variqueux...), Traitement anticoagulant, Cancers en cours d'évolution, Maladie du sang, Maladie inflammatoire en poussée (infection, fièvre), Grossesse/Accouchement récent/Allaitement, Affections ostéo-articulaires, Troubles thyroïdiens, Affections cardiaques récentes (infarctus, angine de poitrine, hypertension artérielle...).
						</p>
						<p>Pour toutes questions, vous pouvez contacter votre esthéticienne.</p>
					</div>
					<div class="tab-pane" id="services-rdv">2</div>
					

					<div class="tab-pane" id="login">

						<div class="row">

							<div class="col-md-6 signup">
						    <div class="col-sm-offset-4 col-sm-8">
									<h2>Nouveau sur ClicRDV?</h2>
								</div>
								<form class="form-horizontal" role="form">

									<div class="form-group">
								    <label class="col-sm-4 control-label">Email</label>
								    <div class="col-sm-8">
								      <input type="email" class="form-control" placeholder="Email">
								    </div>
								  </div>

								  <div class="form-group">
								    <div class="col-sm-offset-4 col-sm-8">
								      <small>Aucun email non sollicité ne sera envoyé</small>
								    </div>
								  </div>

								  <div class="form-group">
								    <div class="col-sm-offset-4 col-sm-8">
								      <button type="submit" class="btn" ng-style="{backgroundColor: colors.tabsBg, color: colors.tabsText}">Connexion</button>
								    </div>
								  </div>

								</form>

							</div>

							<div class="col-md-6">
						    <div class="col-sm-offset-4 col-sm-8">
									<h2>J'ai un accès ClicRDV</h2>
								</div>
								<form class="form-horizontal" role="form">

									<div class="form-group">
								    <label class="col-sm-4 control-label">Email</label>
								    <div class="col-sm-8">
								      <input type="email" class="form-control" placeholder="Email">
								    </div>
								  </div>

									<div class="form-group">
								    <label class="col-sm-4 control-label">Mot de passe</label>
								    <div class="col-sm-8">
								      <input type="password" class="form-control" placeholder="Password">
								    </div>
								  </div>

									<div class="form-group">
								    <div class="col-sm-offset-4 col-sm-8">
								      <div class="checkbox">
								        <label>
								          <input type="checkbox"> Se souvenir de moi
								        </label>
								      </div>
								    </div>
								  </div>

								  <div class="form-group">
								    <div class="col-sm-offset-4 col-sm-8">
								      <button type="submit" class="btn" ng-style="{backgroundColor: colors.tabsBg, color: colors.tabsText}">Connexion</button>
								    </div>
								  </div>

								</form>
	
							</div>

						</div>

					</div>

				<div>

			</div>
		</div>
	</div>
</div>
