<div id="menu" class="open">
	<div id="menu-toggle">
		<span class="open-toggle toggle"><i class="fa fa-angle-right"></i></span>
		<span class="close-toggle toggle"><i class="fa fa-angle-left"></i></span>
	</div>
	<input type="text" ng-model="demo.name" class="form-control" >			
</div>

<div id="preview">
<h1>This is the preview</h1>
</div>
<script type="text/javascript">
	var menu = $('#menu'), body = $('body');
	$('#menu-toggle').on('click', function(){
    	menu.toggleClass('open');
    	body.toggleClass('menu-open');
    });
</script>
