<div class="hero-unit" ng-style="{backgroundColor: colors.moduleBg, color:colors.moduleLink}">

  <h1>{{client.name}}</h1>


  <ul>
    <li ng-repeat="calendar in calendars.all">
      {{calendar}}
    </li>
  </ul>


  <ul>

    <li ng-repeat="category in services.all">
      <h3>{{ category.name }}</h3>
      <ul>
        <li ng-repeat="service in category.services">
          {{ service.name }} ({{service.duration}} minutes) : {{service.price}}€
        </li>
      </ul>
    </li>

  </ul>

  <a ng-click="updateTheme()">Go Red</a>
  <a ng-click="updateCalendars()">Change calendars</a>
</div>
